.App {
  text-align: center;
  height: 100vh;
  background: rgb(131, 151, 231);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.appcenter_div {

  width: 25%;
  height: 80vh;
  background-color: bisque;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
}

h1 {
  color: whitesmoke;
  background-color: #858585;
}

.appcenter_div input[type="text"] {
  width: calc(80% - 60px); /* Make the input fill most of the width */
  padding: 10px; /* Add padding for spacing */
  margin-right: 10px; /* Add space to the right of the input */
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Add a border */
  outline: none; /* Remove the default input outline */
}

.appcenter_div ol {
  margin: 0;
  padding: 0;
}

.appcenter_div ol li {
  list-style: none; /* Removes default bullet */
  margin: 13px; /* Removes default margin */
  padding: 0px; /* Optionally remove padding if needed */
}

.appcenter_div button {
  width: 40px; /* Fixed width for the button */
  height: 40px;
  padding: 10px; /* Add padding for spacing */
  border: none; /* Remove the default button border */
  border-radius: 50px; /* Rounded corners */
  background-color: #6ed378; /* Button color */
  color: #fff; /* Button text color */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.appcenter_div button:hover {
  background-color: #37cc72;
}
.appcenter_div button.delete {
  background-color: rgb(226, 116, 116);
}
.appcenter_div button.delete:hover {
  background-color: rgb(210, 87, 87);
}
@media (max-width: 768px) {
  .appcenter_div {
    width: 90%; /* Adjust width for smaller screens */
  }
}
